@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 240 15% 5%;
    --foreground: 210 20% 98%;

    --card: 240 4% 13%;
    --card-foreground: 210 20% 98%;

    --popover: 240 4% 13%;
    --popover-foreground: 210 20% 98%;

    --primary: 48 96% 53%;
    --primary-foreground: 240 15% 5%;

    --secondary: 27 96% 61%;
    --secondary-foreground: 240 15% 5%;

    --muted: 240 4% 13%;
    --muted-foreground: 240 5% 65%;

    --accent: 48 96% 53%;
    --accent-foreground: 240 15% 5%;

    --success: 82 78% 45%;
    --success-foreground: 240 15% 5%;

    --destructive: 0 91% 71%;
    --destructive-foreground: 240 15% 5%;

    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 48 96% 53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
